*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;

}
.navigation{
    position: relative;
    width: 70px;
    height: 70px;
    background: gray;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}
.navigation.active{
    width: 100px;
    height: 200px;

}