*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #373737;
    /* Merhaba! Bu CSS kodu, bir web sayfasındaki "body" etiketine ait bir özellikler bütünüdür. "display: flex" özelliği, sayfanın içeriğini "flexbox" olarak gösterir. "justify-content: center" ve "align-items: center" özellikleri, içeriğin sayfanın ortasına hizalanmasını sağlar. "min-height: 100vh" özelliği, sayfanın en az 100% kadar yüksek olmasını sağlar ve "background: #373737" özelliği, sayfanın arkaplan rengini siyah gibi koyu bir renk olarak ayarlar. */
    
    
}
h3{
    position: relative;
    font-size: 20px;
    color: #f9f9f9;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 5px;

}
#form
{
    position: relative;

}
#form #email 
{
    width: 300px;
    background: #292929;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    color: #fff;
}
#form .inputBox
{
    position: relative;

}
#text
{
    display: block;
    color: #000;
    font-weight: 500i;
    font-style: italic;
     padding: 5px;
}
#form.invalid .inputBox::before
{
    position: absolute;
    content: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(./img/invalid.png);
    background-size: cover;
    z-index: 1000;
}
#form.valid .inputBox::before
{
    position: absolute;
    content: absolute;
    right: 12px;
    top: 12px;
    width: 24px;
    height: 24px;
    background: url(./img/valid.png);
    background-size: cover;
    z-index: 1000;
}

